h2 {
            font-family: Arial, Helvetica, sans-serif;
        }

        #para {
            font-size: 20px;
        }

        .class {
            font-weight: 900;
        }

        .class1 {
            font-style: normal;
        }